@dark-gray: #333;


thead td {text-transform: uppercase;}

#sources, #publishers {
  margin-bottom: 2em;
}

html {
  position: relative;
  min-height: 100%;
  background-color:@dark-gray;
}
body {
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
#main {
  margin-top: 60px;
}

.error {
  color: red;
}

.result-row-spacer {
  height: 1.5em;
}


@import "_footer";
