{% extends 'base.html' %}

{% block heading %}
{% trans %}API{% endtrans %}
{% endblock heading %}

{% block subheading %}
{{ name }} {% trans -%}provides a full API to process and validate tabular data.{% endtrans %}
{% endblock subheading %}

{% block content %}
<section id="documentation" class="row">
  <p>{% trans %}Let's start with an example. Scroll down for the methods supported by the API.{% endtrans %}</p>
  <pre><code>
# make a request
curl http://goodtables.okfnlabs.org/api/run --data "data=https://raw.githubusercontent.com/okfn/goodtables/master/examples/row_limit_structure.csv&schema=https://raw.githubusercontent.com/okfn/goodtables/master/examples/test_schema.json"

# the response will be like
{
    "report": {
        "summary": {
            "bad_row_count": 1,
            "total_row_count": 10,
            ...
        },
        "results": [
            {
            "result_id": "structure_001", # the ID of this result type
            "result_level": "error", # the severity of this result type (info/warning/error)
            "result_message": "Row 1 is defective: there are more cells than headers", # a message that describes the result
            "result_name": "Defective Row", # a human-readable title for this result
            "result_context": ['38', 'John', '', ''], # the row values from which this result triggered
            "row_index": 1, # the idnex of the row
            "row_name": "", # If the row has an id field, this is displayed, otherwise empty
            "column_index": 4, # the index of the column
            "column_name": "" # the name of the column (the header), if applicable
            },
            ...
        ]
    }
}
        </code></pre>

        <h3>{% trans %}Endpoints{% endtrans %}</h3>
        <p>All API endpoints support CORS.</p>
        <h5><code>/api</code> ({% trans %}API Index{% endtrans %})</h4>
        <ul>
            <li>{% trans %}A JSON object with an <code>endpoints</code> property that describes all API endpoints{% endtrans %}</li>
        </ul>
        <h5><code>/api/run</code> ({% trans %}Validation Runner{% endtrans %})</h4>
        <ul>
            <li><code>POST</code> to validate data</li>
            <li><code>GET</code> to validate data</li>
        </ul>
        <p>
            {% trans %}Both the <code>POST</code> and <code>GET</code> methods support the same parameters. These parameters are described below.{% endtrans %}
        </p>
        <h3>{% trans %}Configuration parameters{% endtrans %}</h3>
        <p>
            {% trans -%}The Web API supports a subset of all parameters supported by{% endtrans %} <a target="_blank" href="http://goodtables.readthedocs.org/en/latest/" title="{% trans %}Good Tables Python library{% endtrans %}">{% trans %}Good Tables Python library{% endtrans %}</a>
        </p>
        <ul>
            <li><code>data</code>: (required) Any file, URL to a file, or string of data</li>
            <li><code>schema</code>: (default. None) This is a convenience for the `options['schema']['schema']` argument that is passed to the schema validator</li>
            <li><code>report_limit</code>: (default. 1000, max. 1000) An integer that sets a limit on the amount of report results a validator can generate. Validation will cease when this amount is reached</li>
            <li><code>row_limit</code>: (default. 100000, max. 100000) An integer that sets a limit on the amount of rows that will be processed. Iteration over the data will stop at this amount.</li>
            <li><code>fail_fast</code>: (default True) A boolean to set whether the run will fail on first error, or not.</li>
            <li><code>ignore_empty_rows</code>: (default False) A boolean to set whether empty rows should raise errors, or be ignored.</li>
            <li><code>encoding</code>: (default None) A string that indicates the encoding of the data. Overrides automatic encoding detection.</li>
            <li><code>format</code>: (default 'csv') 'csv' or 'excel' - the format of the file.</li>
            <li><code>report_type</code>: (default 'basic') 'basic' or 'grouped' - the formatting of report results.</li>
        </ul>
        <h3>{% trans %}Report structure{% endtrans %}</h3>
        <p>For details on the report structure, refer to the <a href="http://goodtables.readthedocs.org/en/latest/reports.html">{% trans %}Good Tables documentation{% endtrans %}</a>.</p>
    </div>
</section>

{% endblock content %}
