{% extends 'base.html' %}

{% block heading %}
{% trans %}Docs{% endtrans %}
{% endblock heading %}

{% block subheading %}
{{ name }} {% trans -%}documentation, for when you get stuck.{% endtrans %}
{% endblock subheading %}

{% block content %}

<section id="documentation" class="row">
  <div class="col-md-12">
    <p>
      {% trans %}Work through the form, which at a minimum just requires that you upload, or provide a link to, a data source. When you click "Validate", the data source will be analysed and a report will be generated describing the validity of the file as a source of tabular data.{% endtrans %} {% trans %}See{% endtrans %} <a href="{{ url_for('api.main') }}" title="{% trans %}API docs{% endtrans %}">{% trans %}here{% endtrans %}</a> {% trans %}for the API docs{% endtrans %}.
    </p>
    <h3>{% trans %}See it in action{% endtrans %}</h3>
    <div class="col-md-12">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/f1bTx6Zaotk" frameborder="0" allowfullscreen></iframe>
      <p>&nbsp;</p>
    </div>
    <div class="col-md-12">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/hblUuIjobrc" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

{% endblock content %}
