{% extends 'base.html' %}


{% block content %}

<h1>
    Help
</h1>

<section>
    {% for result_type in result_types %}
    <div>
        <a name="{{ result_type.id }}"></a>

        <h2>
            {{ result_type.name }}
            <span class="pull-right">
                <a class="btn btn-info" target="_blank" href="{{ result_type.help_edit }}">
                    {% trans %}Make this help better!{% endtrans %}
                </a>
            </span>
        </h2>

        <div>
            {% if result_type.help %}
            {{ result_type.help }}
            {% else %}
            <p>
                {% trans %}Sadly, we don't have a help section for this Report finding yet. Would you like to help? <a target="_blank" href="">Get started here</a>{% endtrans %}
            </p>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</section>

{% endblock content %}
