{% extends 'base.html' %}
{% from "macros/form.html" import render_form, render_field %}


{% block heading %}
{{ name }}
{% endblock heading %}

{% block subheading %}
{{ name }} {% trans -%}is a free hosted service for validating tabular data.{%- endtrans %} <a href="#documentation" title="{% trans %}Find out more{% endtrans %}">{% trans %}Find out more{% endtrans %}</a>
{% endblock subheading %}

{% block content %}

<div class="banner">

  <section id="validate" class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
      <h2>{% trans %}Let's get started{% endtrans %}</h2>
      {% call render_form(form, 'run_form', action='/reports',
      action_name='Validate', with_files=True) %}

      <div class="row">
        <div class="col-md-8">
          <h4>{% trans %}Add a data table (required){% endtrans %}</h4>
        </div>

        <div class="col-md-2">
          <h4>{% trans %}File format{% endtrans %}</h4>
        </div>

        <div class="col-md-2">
          <h4>{% trans %}Encoding{% endtrans %}</h4>
        </div>

        <div class="col-md-2 url_file_selector">

          <div class="radio-inline">
            <input type="radio" name="data-field" id="data-field-1" class="data-field-url" value="option1" checked>
            <label for="data-field-1">
              {% trans %}URL{% endtrans %}
            </label>
          </div>
          <div class="radio-inline">
            <input type="radio" name="data-field" id="data-field-2" class="data-field-file" value="option2">
            <label for="data-field-2">
              {% trans %}File{% endtrans %}
            </label>
          </div>

        </div>
        <div class="col-md-6">
          {{ render_field(form.data_url, with_label=False) }}
          {{ render_field(form.data_file, with_label=False) }}
        </div>
        <div class="col-md-2">
          {{ render_field(form.format, with_label=False) }}
        </div>
        <div class="col-md-2">
          {{ render_field(form.encoding, with_label=False) }}
        </div>
        <div class="col-md-12">
          <p class="help-block">
            {% trans %}Choose URL or File to add a data source by your preferred method.{% endtrans %}
	  </p>
	  <div class="help-block">
	    <p>Want to see an example? Click on one of the two options below followed by the green 'Validate' button.</p>
	    <ul>
	      <li>
		<a class="set-example-url" data-example-url="https://raw.githubusercontent.com/okfn/goodtables-web/master/examples/invalid-on-structure.csv" href="#">Example: Invalid Structure</a>
	      </li>
	      <li>
		<a class="set-example-url" data-set-schema="https://raw.githubusercontent.com/okfn/tabular-validator/master/examples/hmt/bis-modified.json" data-example-url="https://raw.githubusercontent.com/okfn/goodtables-web/master/examples/invalid-on-bis-modified-schema.csv" href="#">Example: Invalid Schema</a> (also sets a test schema to validate against)
	      </li>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-8">
          <h4>{% trans %}Add a data schema (optional){% endtrans %}</h4>
        </div>
        <div class="col-md-2">
          <h4>{% trans %}Schema presets{% endtrans %}</h4>
        </div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-12">
          <p class="help-block">{% trans %}Select to validate this data against a JSON Table Schema (<a target="_blank" href="http://dataprotocols.org/json-table-schema/" title="Read more about JSON Table Schema">What's that?</a>).{% endtrans %}</p>
        </div>
      </div>

      <div class="row display-schema-fields">
        <div class="col-md-2 url_file_selector">

          <div class="radio-inline">
            <input type="radio" name="schema-field" id="schema-field-1" class="schema-field-url" value="option1" checked>
            <label for="schema-field-1">
              {% trans %}URL{% endtrans %}
            </label>
          </div>
          <div class="radio-inline">
            <input type="radio" name="schema-field" id="schema-field-2" class="schema-field-file" value="option2">
            <label for="schema-field-2">
              {% trans %}File{% endtrans %}
            </label>
          </div>

        </div>
        <div class="col-md-6">
          {{ render_field(form.schema_url, with_label=False) }}
          {{ render_field(form.schema_file, with_label=False) }}
        </div>
        <div class="col-md-2">
          {{ render_field(form.schema_eg, with_label=False) }}
        </div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-12">
          <p class="help-block">
            {% trans %}Choose URL or File to add a schema by your preferred method. Alternatively, choose a preset schema.{% endtrans %}
          </p>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-4">
          <h4>{% trans %}Stop on first error{% endtrans %}</h4>
        </div>
        <div class="col-md-8">
          <span>{{ render_field(form.fail_fast, with_label=False) }}</span>
        </div>
        <div class="col-md-12">
          <p class="help-block">
            {% trans %}Indicate whether validation should stop on the first error, or attempt to collect all errors.{% endtrans %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4>{% trans %}Ignore empty rows{% endtrans %}</h4>
        </div>
        <div class="col-md-8">
          <span>{{ render_field(form.ignore_empty_rows, with_label=False) }}</span>
        </div>
        <div class="col-md-12">
          <p class="help-block">
            {% trans %}Indicate whether empty rows should be considered as errors, or simply ignored.{% endtrans %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4>{% trans %}Ignore duplicate rows{% endtrans %}</h4>
        </div>
        <div class="col-md-8">
          <span>{{ render_field(form.ignore_duplicate_rows, with_label=False) }}</span>
        </div>
        <div class="col-md-12">
          <p class="help-block">
            {% trans %}Indicate whether duplicate rows should be considered as errors, or simply ignored.{% endtrans %}
          </p>
        </div>
      </div>

      <hr />

      {% endcall %}
    </div>
    <div class="col-md-1"></div>
  </section>

  <hr />
</div>

<section id="problem" class="row">
    <div class="col-md-12">
        <h2>{% trans %}Problem?{% endtrans %}</h2>
        <p>
            {% trans -%}
            This is alpha software, and we expect bugs and weirdness. You can help by opening an issue for us to report any problems.
            {%- endtrans %}
            <br />
            <a target="_blank" href="{{ new_issue }}">{% trans %}Report an issue{% endtrans %}</a>
        </p>
    </div>
</section>

<section id="documentation" class="row">
  <div class="col-md-12">
    <h2>{% trans %}What is Good Tables?{% endtrans %}</h2>
    <p>
      {% trans %}Good Tables is a free online service that helps you find out if your tabular data is actually good to use - it can check for structural problems (blank rows and columns) as well as ensure that data fits a specific schema.{% endtrans %}
    </p>
    <p>
      {% trans %}Tabular data in CSV and Excel formats is one the most common forms of data available on the web - especially if looking at <a href="http://okfn.org/opendata/">open data</a>. Unfortunately, much of that data is messy with blank and incorrect rows, and unexpected values for some fields. (For example, date columns that do not feature well-formed dates. <a href="http://okfnlabs.org/bad-data/">See here for more examples of "bad data"</a>.){% endtrans %}
    </p>
    <p>
      {% trans %}That’s where Good Tables comes in: it checks your data for you, giving you quick and simple feedback on where your tabular data may not yet be quite perfect.{% endtrans %}
    </p>
    <h3>{% trans %}See it in action{% endtrans %}</h3>
    <div class="pull-left">
      <iframe width="560" height="316" src="https://www.youtube.com/embed/f1bTx6Zaotk" frameborder="0" allowfullscreen></iframe>
      <p>&nbsp;</p>
    </div>
    <div class="pull-left">
      <iframe width="560" height="316" src="https://www.youtube.com/embed/hblUuIjobrc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

{% endblock content %}
