{% extends 'base.html' %}


{% block heading %}

{% if report %}

{% if not success and error_title %}
{{ error_title }}

{% else %}

{% if success %}
<span class="text-success"><i class="fa fa-check"></i> {% trans %}Valid{% endtrans %}</span>
{% else %}
<span class="text-danger"><i class="fa fa-close"></i> {% trans %}Invalid{% endtrans %}</span>
{% endif %}

{% if permalinks %}
<div class="dropdown pull-right" style="display: inline-block;">
  <button class="btn btn-primary btn-lg" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {% trans %}Share these results{% endtrans %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="{{ permalinks.json }}" title="">{% trans %}JSON Link{% endtrans %}</a></li>
    <li><a href="{{ permalinks.html }}" title="">{% trans %}HTML Link{% endtrans %}</a></li>
  </ul>
</div>

{% endif %}

{% endif %}

{% else %}
{% trans %}There is no report data to display{% endtrans %}
{% endif %}

{% endblock heading %}

{% block subheading %}

{% trans %}
<p>
  This might be caused by the lack of cookies. Please enable cookies for this website and try again.
</p>
{% endtrans %}

{% if report %}

<p>
  <strong>Results as JSON:</strong> <a href="{{ permalinks.json }}">Link</a><br>
  {% if sources.schema_url %}
  <strong>JSON Schema</strong>: <a target="_blank" href="{{ sources.schema_url }}">{% trans %}View{% endtrans %}</a> / {{ sources.schema_url }}<br>
  {% endif %}
  {% if sources.data_url %}
  <strong>Data File Preview</strong>: <a class="toggle-preview" data-preview="csv-preview" data-url="http://datapipes.okfnlabs.org/csv/head%C2%A0-n%C2%A01000/html?url={{ sources.data_url }}">Show/Hide</a> / {{ sources.data_url }}
  <iframe class="csv-preview" style="width: 100%; height: 200px; display: inline-block;" src="http://datapipes.okfnlabs.org/csv/head%C2%A0-n%C2%A01000/html?url={{ sources.data_url }}"></iframe>
  {% endif %}
</p>

{% if not success and error_message %}
{{ error_message }}
{% else %}

{% trans %}A total of <strong>{{ row_count }}</strong> rows of data were processed.{% endtrans %}

{% endif %}

{% else %}
<a href="{{ url_for('pages.main') }}" title="{% trans%}Submit some data to validate{% endtrans%}">{% trans %}Submit some data to validate{% endtrans %}.</a>

{% endif %}

{% endblock subheading %}

{% block content %}

{% if report and not success %}
<section id="report">
  <p>
    {% trans %}Below we have a <strong>sample of {{ result_detail_phrase }} errors</strong> found when validating the data. Use this to identify problems, fix them in the source, and then upload the data to validate again!{% endtrans %}
  </p>

  {% for result_group in grouped_results %}
  <div class="result panel panel-default">
    <div class="panel-heading">
      <ol>
        {% for k, v in result_group.items() %}
        {% for result in v.results %}
        {% set _level = result.result_level %}
        <li>
          <span class="text-uppercase label label-{% if _level == 'info' %}info{% elif _level == "warning" %}warning{% else %}danger{% endif %}">{{ result.result_level }}</span>
          <span class="label label-info">{{ result.processor|title }}</span>
          <strong>{{ result.result_name }} {% if result.column_index and columns[result.column_index].name %}(<em>{{ columns[result.column_index].name }}</em>){% endif %}</strong>:&nbsp;
          {{ result.result_message }}&nbsp;<a target="_blank" href="{{ url_for('pages.help', _anchor=result.result_id) }}" title="{% trans %}More information on{% endtrans %} {{ result.result_name }}">{% trans %}Read more{% endtrans %}</a>
        </li>
        {% endfor %}
        {% endfor %}
      </ol>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-condensed">

        {%  for k, v in result_group.items() %}

        {# if 0, then we have errors in the header #}
        {% if k == 0 %}
        {% set is_header = True %}
        {% endif %}

        {% if is_header %}
        <tr class="result-header-row"><strong><span class="text-uppercase">{% trans %}Headers{% endtrans %}</span></strong></tr>
        {% else %}
        <tr class="result-header-row">
          <th class="text-uppercase">{% trans %}Row{% endtrans %}</th>
          {% for column in columns %}
          <th>{{ column.name }}</th>
          {% endfor %}
        </tr>
        {% endif %}

        <tr class="result-row">

          {% if is_header %}
          {% else %}
          <td class="result-row-index">{{ k }}</td>
          {% endif %}

          {% for cell in v.result_context %}
          {% set cell_vars = {'class': ''} %}
          {% set cell_index = loop.index0 %}
          {% for result in v.results %}
          {% if result.column_index and (cell_index == result.column_index) %}
          {% do cell_vars.update({'class': 'bg-danger'}) %}
          {% endif %}
          {% endfor %}
          <td class="{{ cell_vars.class }}">{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <p>
    {% trans %}These results were calculated on{% endtrans %} <em>{{ datetime }}</em>.
  </p>

</section>

{% endblock content %}
