{% extends 'base.html' %}


{% block heading %}

{% if report %}

{% if not success and error %}
{{ error }}

{% else %}

{% if success %}
{% trans %}Well done! The data source is valid.{% endtrans %}
{% else %}
{% trans %}Oops. the data source is not valid.{% endtrans %}
{% endif %}

{% endif %}

{% else %}
{% trans %}Oops. There is no report data to display{% endtrans %}
{% endif %}

{% endblock heading %}

{% block subheading %}

{% if report %}

{% if not success and error %}
{% trans %}It seems that something was wrong with the input sources. Check that your data and schema sources are of the correct type, and try again.{% endtrans %}

{% else %}

{% if success %}
{% trans %}We processed a total of <strong>{{ row_count }}</strong> rows. Column-wise, we found <strong>{{ column_count }}</strong> columns. It's all good!{% endtrans %}
{% else %}
{% trans %}We processed a total of <strong>{{ row_count }}</strong> rows, of which <strong>{{ bad_row_percent }}%</strong> were found to have invalid data. Let's have a look at the details.{% endtrans %}
{% endif %}

{% endif %}

{% if permalinks %}
<br />
<a class="btn btn-info" href="{{ permalinks.json }}" title="">{% trans %}JSON Link{% endtrans %}</a>
<a class="btn btn-info" href="{{ permalinks.html }}" title="">{% trans %}HTML Link{% endtrans %}</a>
{% endif %}

{% else %}
<a href="{{ url_for('pages.main') }}" title="{% trans%}Submit some data to validate{% endtrans%}">{% trans %}Submit some data to validate{% endtrans %}.</a>

{% endif %}

{% endblock subheading %}

{% block content %}

{% if report and not success %}
<section id="report">
  <p>
    {% trans %}Below we have a <strong>sample of {{ result_detail_phrase }} errors</strong> found when validating the data. Use this to identify problems, fix them in the source, and then upload the data to validate again!{% endtrans %}
  </p>

  {% for result_group in grouped_results %}
  <div class="result panel panel-default">
    <div class="panel-heading">
      <ol>
        {% for k, v in result_group.items() %}
        {% for result in v.results %}
        {% set _level = result.result_level %}
        <li>
          <span class="text-uppercase label label-{% if _level == 'info' %}info{% elif _level == "warning" %}warning{% else %}danger{% endif %}">{{ result.result_level }}</span>
          <span class="label label-info">{{ result.processor|title }}</span>
          <strong>{{ result.result_name }} {% if result.column_index %}(<em>{{ columns[result.column_index].name }}</em>){% endif %}</strong>:&nbsp;
          {{ result.result_message }}&nbsp;<a target="_blank" href="{{ url_for('pages.help', _anchor=result.result_id) }}" title="{% trans %}More information on{% endtrans %} {{ result.result_name }}">{% trans %}Read more{% endtrans %}</a>
        </li>
        {% endfor %}
        {% endfor %}
      </ol>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-condensed">

        <tr class="result-header-row">
          <th class="text-uppercase">{% trans %}Row{% endtrans %}</th>
          {% for column in columns %}
          <th>{{ column.name }}</th>
          {% endfor %}
        </tr>

        <tr class="result-row">
          {% for k, v in result_group.items() %}
          <td class="result-row-index">{{ k }}</td>
          {% for cell in v.result_context %}
          {% set cell_vars = {'class': ''} %}
          {% set cell_index = loop.index0 %}
          {% for result in v.results %}
          {% if result.column_index and (cell_index == result.column_index) %}
          {% do cell_vars.update({'class': 'bg-danger'}) %}
          {% endif %}
          {% endfor %}
          <td class="{{ cell_vars.class }}">{{ cell }}</td>
          {% endfor %}
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <p>
    {% trans %}These results were calculated on{% endtrans %} <em>{{ datetime }}</em>.
  </p>

</section>

{% endblock content %}
