{% extends 'base.html' %}


{% block content %}
<section id="form-section">
    <form role="form">
        <input type="text" placeholder="put it" />
        <input type="text" placeholder="put it" />
        <input type="text" placeholder="put it" />
        <input type="text" placeholder="put it" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</section>
<section id="docs-section">
    <h2>Quickstart</h2>
    <p>Hey, get started with this stuff like this....</p>
    <h3>Report problems</h3>
    <p>Report any and all problems here please.</p>
</section>
{% endblock content %}
