<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <title>{{ name }}</title>
      <base href="/">
      <link rel="canonical" href="{{ request.url }}">
      {#{% assets "sass" %}#}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
      {#{% endassets %}#}
      <script src="{{ url_for('static', filename='vendor/modernizr.custom.44554.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
      <!--[if lt IE 9]>
          <script src="{{ url_for('static', filename='vendor/html5shiv.min.js') }}"></script>
      <![endif]-->
    </head>
    <body>

      <div class="collapse" id="okf-panel">
        <iframe src="//assets.okfn.org/themes/okfn/okf-panel.html" scrolling="no"></iframe>
      </div>

      {% block header %}
      <nav class="navbar{% if ui.navbar == 'inverse' %} navbar-inverse{% elif ui.navbar == 'default' %} navbar-default{% endif %} navbar-static-top">
        <div class="container">
          <a href="http://okfn.org/" class="open-knowledge" title="An Open Knowledge Project" data-toggle="collapse" data-target="#okf-panel"><span class="text">An Open Knowledge Project</span></a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand{% if ui.glyphicon %} has-icon{% endif %}" href="/">
              {% if ui.glyphicon %}
              <span class="glyphicon glyphicon-{{ ui.glyphicon }}" aria-hidden="true"></span>
              {% endif %}
              <span class="text">{{ name }}</span>
            </a>
            {% if status %}
            <span class="{{ status }} release badge">{{ status }}</span>
            {% endif %}
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li {% if url_for('api.main') in request.url %}class="active"{% endif %}>
                <a href="{{ url_for('api.main') }}" title="{{ gettext('API') }}">{{ gettext('API') }}</a>
              </li>
              <li {% if url_for('pages.pricing') in request.url %}class="active"{% endif %}>
                <a href="{{ url_for('pages.pricing') }}" title="{% trans %}Pricing{% endtrans %}">{% trans %}Pricing{% endtrans %}</a>
              </li>
              <li>
                <a target="_blank" href="{{ new_issue }}" title="{{ gettext('Report a bug') }}">{{ gettext('Bugs') }}</a>
              </li>
              <li>
                <a target="_blank" href="{{ repo }}" title="{{ gettext('Library') }}">{{ gettext('Library') }}</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      {% endblock header %}

      {% block main %}

      <div class="jumbotron">
        <div class="container">
          <h1>{% block heading %}{% endblock heading %}</h1>
          <p>{% block subheading %}{% endblock subheading %}</p>
        </div>
      </div>

      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
      {% endblock main %}

      {% block footer %}
      <footer class="site-footer">
        <div class="container">
          <a class="footer-logo" href="https://okfn.org/">
            <img src="https://bytebucket.org/okfn/assets.okfn.org/raw/88b24904b8ecded5e6d530739743162d1c5b3d93/p/okfn/img/okfn-logo-landscape-white.png" alt="Open Knowledge">
          </a>

          <div class="footer-links">
            <ul>
              <li><a href="https://okfn.org/privacy-policy/">Privacy policy</a></li>
              <li><a href="https://okfn.org/ip-policy/">IP policy</a></li>
              <li><a href="https://okfn.org/cookie-policy/">Cookie policy</a></li>
              <li><a href="https://okfn.org/terms-of-use/">Terms of use</a></li>
            </ul>

            <ul class="footer-social">
              <li><a href="https://facebook.com/OKFNetwork">
                  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
              </a></li>
              <li>
                <a href="https://twitter.com/okfn">
                  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/user/openknowledgefdn">
                  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
                </a>
              </li>
            </ul>
          </div>

          <hr />

          <p>Open Knowledge Foundation is incorporated in England and Wales as a company Limited by guarantee. Company no. 05133759. Registered address: St. John’s Innovation Centre, Cowley Road, Cambridge, CB4 0WS, UK. VAT Registration no. GB 984404989.</p>

        </div>
      </footer>
      {% endblock footer %}

      {% block bodyjs %}
      <script src="{{ url_for('static', filename='vendor/jquery.squirrel.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ ga_key }}', 'auto');
        ga('send', 'pageview');
      </script>
      {% endblock bodyjs %}
    </body>
</html>
